@import url(../../variables.css);

.cart-page{
   
}

.cart-page > ul.products-list{
    flex-grow: 3;
    flex-basis: 60%;
    max-width: 80%;
    margin: 20px;
    gap: 15px;
}



.cart-page > ul.actions{
    flex-grow: 2;
    flex-basis: 10%;
    max-width: 40%;
}

.cart-container{
    display: flex;
}


/* checkout button */
