@import url('../../variables.css');

.order-detail {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.no-order {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}


.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.products-table th, .products-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    
}

.products-table th {
    background-color: #f4f4f4;
    color: #333;
}

.products-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.products-table tr:hover {
    background-color: #f1f1f1;
}

.products-table th,
.products-table td {
    text-align: center;
}

.products-table img {
    max-width: 70px;
    height: auto;
    border-radius: 2px;
}

.products-table img:hover {
    transform: scale(1.5);
    z-index: 10;
    position: relative;
} 