:root{
    --primary: #C6C8EE;
    --secondary: #F8F1FF;
    --text-color: #534D56;
    --sea-border: #c6c8ee;
    --sea-bg: #5b61e0;
    --red-border: rgb(251, 73, 73);
    --red-bg: rgb(244, 160, 160);
    --light-gray: #f7f0f0;
    --green-border: #4fda1dd2;
    --green-bg: #468d2dd2;
    --submit-bg: #007bff;
    --submit-bg-hover: #0056b3;
}