.notification-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.notification {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification .close {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #721c24;
}